@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;1,200&display=swap');

body { 
      margin: 0; padding: 0;
      font-family: 'Lato';
      font-size: 20px;
     }

  .container {
   display: flex;
   align-self: center;
   justify-content: center;
    }
    
    #scene {
      position: relative;
      margin: 0 auto;
    }
    

h1 {
  font-family: 'Libre Baskerville', serif;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  font-size: 35px;
  font-weight: bold;
  padding: 10px;


}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;

}


